
@{
    ViewBag.Title = "Reportes";
}

<h2>Reportes</h2>
<h2>Bienvenido a nuestra seccion de reportes</h2>


<div class="alert alert-info">
    <h4 class="alert-heading">Atencion!</h4>
    <p class="mb-0"> Hay @ViewBag.count curriculums subidos.</p>
</div>