@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>


<div>
    <h3>Acerca del Team</h3>
    <p>
        Este proyecto fue elaborado por:




    </p>
    <table>
        <tr>
            <td>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img data-src="..." alt="...">
                            <div class="caption">
                                <h3>Joel Gimenez</h3>
                                <p>Estudiante del ultimo anho de la carrera Ingenieria Informatica. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img data-src="..." alt="...">
                            <div class="caption">
                                <h3>Sofia Manzoni</h3>
                                <p>Estudiante del ultimo anho de la carrera Licenciatura en Ciencias de la Informacion. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<p></p>
