@{
    ViewBag.Title = "Acerca del Team";
}
<h2>@ViewBag.Title.</h2>


<div>
    <h3>
        Este proyecto fue elaborado por:
    </h3>
    <table align="center">
        <tr>
            <td >
                <div class="row">
                    <div class="col-sm-10 col-md-10">
                        <div class="thumbnail">
                            <img src="~/Imagenes/sinbarba.jfif" width="221" height="100" alt="..." class="img-rounded">
                            <div class="caption">
                                <h3>Joel Gimenez</h3>
                                <p>Estudiante del ultimo año de la carrera Ingenieria Informatica. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-sm-10 col-md-8">
                        <div class="thumbnail">
                            <img src="~/Imagenes/sm1.jpeg" width="190" height="100" alt="..." class="img-rounded">
                            <div class="caption">
                                <h3>Sofia Manzoni</h3>
                                <p>Estudiante del ultimo año de la carrera Licenciatura en Ciencias de la Informacion. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </tdalign="left">
        </tr>
    </table>
</div>
<p></p>
