@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>HOLA</h1>
   gi
    <p class="lead">Crea tu cv online, destaca entre la multitud y consigue la entrevista.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Cómo funciona?</h2>
        <p>
            Es muy sencillo, ingresa tus datos siguiendo los pasos y completa:<br />
            -Tus estudios.<br />
            -Tus experiencias laborales.<br />
            -Los idiomas que hablas.<br />
            -Tu información de contacto.<br />
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ventajas de Curriculum Generator</h2>
        <p>Hoy en dia la mayoria de las solicitudes de empleo se relizan online. Esta plataforma te ofrece crear tu hoja de vida con el diseño que más te guste.</p><br /><br />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Guia para crear la mejor versión de tu curriculum</h2>
        <p>Con esta guía para escribir un currículum, te ayudaremos durante todo el proceso de redacción y te daremos consejos profesionales sobre cómo escribir la mejor versión de tu currículum, que te asegurare más entrevistas y ¡te llevará a tu trabajo soñado!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leer más &raquo;</a></p>
    </div>
</div>